/** 
  * file: index.css
  * common custome style here 
**/

.errors{
  color: red
}

.loader-outer{
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  z-index: 99;
  opacity: .6;
 }
 .sweet-loading{
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999; 
 }